* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

/* common code */
.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  height: 64px;
  background-color: #fd6e0a;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  padding: 18px 35px;
  border: 0;
}

 section{
  margin-top: 110px;
}

/* header and navigation styles */
.header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

.nav-container {
  display: flex;
  align-items: center;
}
.nav-container li {
  list-style: none;
  margin-left: 50px;
}

.nav-container a {
  text-decoration: none;
  color: black;
}

/* banner header */
.banner-container {
  display: flex;
  align-items: center;
  margin: 0 200px;
}

.img {
  height: 400px;
}

.banner-title {
  color: #181818;
  font-weight: 700;
  font-size: 85px;
}

.banner-sub-title {
  color: #474747;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}

.banner-desc {
  color: #757575;
  font-size: 18px;
  margin-bottom: 41px;
}

.button {
  height: 27px;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  height: 64px;
  padding: 20px;
  margin-left: 30px;
  border-radius: 5px;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
.about-me {
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  margin-bottom: 30px;
  text-align: center;
}
.section-desc {
  color: #757575;
  text-align: center;
  font-style: 18px;
  margin-bottom: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info-title {
  font-size: 20px;
  color: #757575;
}

.info-desc {
  color: #474747;
  font-weight: 700;
  font-size: 20px;
}

.info-card-container {
  display: flex;
  gap: 24px;
  margin-top: 50px;
}
.info-card {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  /* margin: 0 54px; */
  padding: 30px;
}
.card-image {
  margin-bottom: 30px;
}
.card-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.card-desc {
  font-size: 16px;
  color: #757575;
}

.resume-container{
  display: flex;
  gap: 24px;
  /* justify-content: space-evenly; */
}

.resume-item .title{
  color: #474747;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}
.resume-item .sub-title{
  color: #757575;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.resume-item .desc{
  color: #757575;
}

.resume-item{
  margin: 30px 0;
}

.resume-btn{
  margin-top: 50px;
  text-align: center;
}

.contact{
  display: flex;
  gap: 100px;
  background: #FFF8F3;
  padding: 130px 200px;
}

.contact .section-title{
  text-align: left;
}

.contact input[type="text"], [type="email"], textarea{
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
}

input{
  height: 64px;
}

.contact a{
  text-decoration: none;
}
